[submodule "Assets/Editor/EditorCommon"]
	path = Assets/Editor/EditorCommon
	url = https://github.com/noobnewbier/EditorCommon.git
[submodule "Assets/Scripts/EventManagement"]
	path = Assets/Scripts/EventManagement
	url = https://github.com/noobnewbier/EventManagement.git
[submodule "Assets/Scripts/ShaderCommon"]
	path = Assets/Scripts/ShaderCommon
	url = https://github.com/noobnewbier/ShaderCommon.git
[submodule "Assets/Scripts/UnityUtils"]
	path = Assets/Scripts/UnityUtils
	url = https://github.com/noobnewbier/UnityUtils.git
[submodule "Assets/Scripts/UnityMLAgent/ml-agents"]
	path = Assets/Scripts/UnityMLAgent/ml-agents
	url = https://github.com/Unity-Technologies/ml-agents.git
