default:
    batch_size: 1024
    trainer: ppo
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.1
    hidden_units: 128
    lambd: 0.95
    learning_rate: 1.0e-4
    learning_rate_schedule: constant
    max_steps: 5.0e4
    memory_size: 256
    normalize: false
    num_epoch: 3
    num_layers: 2
    time_horizon: 2048
    sequence_length: 64
    summary_freq: 1000
    use_recurrent: false
    vis_encode_type: simple
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99

            
VBA:
    time_horizon: 512
    epsilon: 0.2
    batch_size: 512
    buffer_size: 8192
    hidden_units: 1024
    num_layers: 3
    beta: 1.0e-3
    max_steps: 15.0e6
    num_epoch: 3
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99
        curiosity:
            strength: 0.05
            gamma: 0.99
            encoding_size: 256
#        gail:
#            strength: 0.01
#            gamma: 0.99
#            encoding_size: 256
#            demo_path: ../../Demonstrations/VBA/VBA.demo
#    pretraining:
#        demo_path: ../../Demonstrations/VBA/VBA.demo
#        strength: 0.5
#        steps: 100000
       